<form action="/recipes" method="post">
  <p><label id="name">Name</label>
    <input type="text" name="name" id="name">
  </p>

  <p><label id="ingredients">Name</label>
    <input type="text" name="ingredients" id="ingredients">
  </p>
</form>
